body {
font-family: Open Sans,Helvetica Neue,sans-serif;	
}

.header {
	background-color: rgb(64, 64, 64);
	color: rgb(230,230,230);
	padding: 17px;
	height: 50px;
}

.name, .links, .pagelabel {
	text-transform: uppercase;
}

.hamburger_container {
	border: 2px solid rgb(230,230,230);;
	border-radius: 5px;
	float:right;
	padding:5px;
	margin: 15px;
}
.fa-bars {
	font-size: 20px !important;
}
.hamburger_container:hover {
	border-color: red;
	cursor:pointer;
}

.name {
    font-size: 13pt;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: -9px;
}
.name_title {
    font-weight: 300;
    font-size: 9pt;
    letter-spacing: 2px;
    color: rgb(170, 170, 170);
}


.links_container {
	background-color:rgb(230,230,230);
	height: 50px;
	display:flex;
	align-items: center;
/*	position:absolute;
	left:0;
	top:;*/
}
.links_containercenter {
	width:100%;
}

.fa {
	color:rgb(230,230,230);
	font-size: 16px !important;
}
.fa-github {
	font-size: 23px !important;
	color: rgb(170, 170, 170);
}
.icon_container_twitter, .icon_container_rss, .icon_container_git{
    border-radius: 50%;
    margin: 5px;
    height:20px;
    width:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    float:left;
}
.icon_container_git {
	background-color: rgb(230,230,230);
	height: 20px;
	width: 20px;
}
.icon_container_twitter, .icon_container_rss {
	background-color: rgb(170, 170, 170);
}
.icon_container_twitter:hover {
	background-color: #1da1f2;
}
.fa-github:hover {
	color: black;
}
.icon_container_rss:hover {
	background-color: orange;
}

.links {
	color:rgb(64, 64, 64);
	font-size: 9pt;
	float:right;
	margin: 10px;
	text-decoration: none;
}
.links:hover, .title_articlelist:hover{
	color:red;
}
.cleardiv {
	clear:both;
}

.maincontent_container {
	color: rgb(170, 170, 170);
	margin: 15px;
}

.greyline {
	background-color: rgb(230, 230, 230);
	height:1px;
}

a {
	color: inherit;
	cursor:pointer;
}

ul {
	list-style-type: square;
}

li p {
	margin:0;
}

.pagelabel {
    font-size: 9pt;
    letter-spacing: 3px;
    margin: 35px 0 20px 0;
    font-weight: 400;
}

.date {
    font-size: 9.5pt;
    font-weight: 300;
    margin: 0 0 25px 0;
    letter-spacing: 1px;
}
.date_list {
	font-size: 8.5pt;
	margin: 25px 0;
}

.title {
	color: rgb(64, 64, 64);
    font-weight: 400;
    font-size: 20pt;
    margin: 25px 0 15px 0;
}
.subtitle {
	font-size: 18pt;
	margin: 25px 0;
}
.title_articlelist {
	margin: 0;
}
.title_link {
	text-decoration: none;	
}
.title_index {
	font-size:14.5pt;
}
.title_footnote {
	font-size: 13pt;
}

.maincontent {
    font-size: 11.5pt;
    font-weight: 300;
    margin: 0;
    color: rgb(64, 64, 64);
    letter-spacing: 0.5px;
    line-height: 150%;
    padding: 10px 0 10px 0;
}
.maincontent_singlearticle:last-of-type {
	margin: 0px 0 5px 0;;
}
.maincontent_aboutlinks {
	padding: 0;
}
.maincontent_articlelinks {
	padding: 2px 0;
}
.aboutlink, .articlelink {
	color: rgb(110,110,110);
}
.maincontent_articlelinks span {
	font-style: italic;
}
.maincontent_intro {
	margin: 5px 0 25px 0;
    color: rgb(170,170,170);
    font-size: 10pt;
}
.maincontent_footnote {
	font-size: 9pt;
	margin: 5px 0;
}

.twittershare_container {
	padding:20px;
	background-color: rgb(230, 230, 230);
}
.twittershare_bird {
	color: #1da1f2;
	font-size: 20pt !important;
	float:left;
	margin: 10px 10px 5px 0;
}
.twittershare_note {
	letter-spacing: 0;
    margin: 0;
	color: rgb(120,120,120);
}

.note {
	background-color: rgb(230, 230, 230);
	position:relative;
    left: -15px;
    padding: 10px 15px 10px 15px;
    width: 100%;
}
.note span {
	font-weight: 400;
}

/*.hero_image {
	background-image: url("./omaha_skyline.jpg");
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-position-y: 50%;
	display:inline-block;
    width: 100%;
    margin: 0 auto;
}
.hero_image:after {
	This percent is based on the ratio
	padding-top: 66.286%; 
	display:block;
	content: '';
}*/



.hero_image {
	background-image: url("./omaha_skyline.jpg");
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display:inline-block;
    width: 100%;
    margin: 0 auto;
    padding-top: 66.286%;
}
@media (min-width: 570px) {
	.hero_image {
		background-position-y: 15%;
		height: 377.82px;
		padding-top: 0;
	}
}

